<html>
    <head>
        <title>Peebles Lab | It's Only Real While We Say It Is</title>
        <style type="text/css">
        h1, h2, h3, h4, h5, h6, a, p {
            font-family:sans-serif;
        }
        img.comic {
            border:4px solid #042B6A;
        }

        table.navbar {
            background-color:white;
            margin-left:auto;
            margin-right:auto;
        }

        a.navbar, a.navbar:visited {
            color:white;
            font-family:sans-serif;
            font-weight:bold;
            text-decoration:none;
            margin-left:0px;
            margin-right:0px;
            width:100px;
            height:20px;
            display:block;
        }

        a.navbar:hover {
            color:#042B6A;
            text-decoration:underline;
        }

        td.navbar {
            color:white;
            background-color:#042B6A;
            height:24px;
            width:100px;
            margin-left:10px;
            margin-right:10px;
        }

        td.navbar:hover {
            background-color:#AAAAAA;
        }
        </style>
        <meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1">
        <meta name="description" content="A Webcomic about Physics and Math, by Andrew Stella and David Kilian">
        <meta name="keywords" content="peebles,lab,peebleslab,peebles lab,dave,kilian,andrew,stella,dave kilian, andrew stellaIt039s Only Real While We Say It Is,This is the way all physics works  it changes as soon as you prove it wrong,It039s,Only,Real,While,We,Say,It,Is,This,is,the,way,all,physics,works,,it,changes,as,soon,as,you,prove,it,wrong">
        <link rel="icon" href="assets/favicon.png" type="image/x-icon">
        <link rel="shortcut icon" href="assets/favicon.png" type="image/x-icon">
        <link href="/rss" type="application/rss+xml" rel="alternate" title="Peebles Lab RSS Feed">
    </head>
    <body style="text-align:center;background-color:#C9E1FF">
        <div id="header_logo">
            <a href="/93">
                <img style="border-width:0px" src="banners/banner093.png" alt="Peebles Lab" title="Communication Breakdown ">
            </a>
        </div>
        <div>
            <table class="navbar">
                <tbody>
                    <tr>
                        <td class="navbar" align="left">
                            <a class="navbar" href="/1">&nbsp;|&lt; First</a>
                        </td>
                        <td class="navbar" align="left">
                            <a class="navbar" href="/1">&nbsp;&lt; Back</a>
                        </td>
                        <td class="navbar" align="center">
                            <a class="navbar" href="/62">Random</a>
                        </td>
                        <td class="navbar" align="center">
                            <a class="navbar" href="/archive.php">Archive</a>
                        </td>
                        <td class="navbar" align="right">
                            <a class="navbar" href="/2">Next &gt;&nbsp;</a>
                        </td>
                        <td class="navbar" align="right">
                            <a class="navbar" href="/100">Latest &gt;|&nbsp;</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="comic">
            <h2>It's Only Real While We Say It Is</h2>
            <img src="comics/1.png" alt="It's Only Real While We Say It Is" title="This is the way all physics works -- it changes as soon as you prove it wrong." class="comic">
        </div>
        <div>
            <table class="navbar" style="height:20px">
                <tbody>
                    <tr>
                        <td class="navbar" align="left">
                            <a class="navbar" href="/1">&nbsp;|&lt; First</a>
                        </td>
                        <td class="navbar" align="left">
                            <a class="navbar" href="/1">&nbsp;&lt; Back</a>
                        </td>
                        <td class="navbar" align="center" style="width:200px;height:25px;">
                            <span style="vertical-align:top;font-family:sans-serif;font-weight:bold;margin-left:auto;margin-right:auto;">
                                <a href="https://www.facebook.com/share.php?u=https://www.peebleslab.com/1">
                                    <img src="assets/share_facebook.png" alt="Facebook" style="border-width:0px;vertical-align:middle;">
                                </a>
                                <a href="https://www.twitter.com/home?status=Check+out+Peebles+Lab+comic+1+-+It%26%23039%3Bs+Only+Real+While+We+Say+It+Is+https://www.peebleslab.com/1">
                                    <img src="assets/share_twitter.png" alt="Twitter" style="border-width:0px;vertical-align:middle;">
                                </a>
                                <a href="https://www.reddit.com/submit?url=https://www.peebleslab.com/1">
                                    <img src="assets/share_reddit.png" alt="Reddit" style="border-width:0px;vertical-align:middle;">
                                </a>
                                <a href="https://www.digg.com/submit?url=https://www.peebleslab.com/1&amp;topic=comics_animation&amp;title=Peebles+Lab+Comic+1+-+It%26%23039%3Bs+Only+Real+While+We+Say+It+Is">
                                    <img src="assets/share_digg.png" alt="Digg" style="border-width:0px;vertical-align:middle;">
                                </a>
                                <a href="https://www.stumbleupon.com/submit?url=https://www.peebleslab.com/1">
                                    <img src="assets/share_stumbleupon.png" alt="Stumbleupon" style="border-width:0px;vertical-align:middle;">
                                </a>
                            </span>
                        </td>
                        <td class="navbar" align="right">
                            <a class="navbar" href="/2">Next &gt;&nbsp;</a>
                        </td>
                        <td class="navbar" align="right">
                            <a class="navbar" href="/100">Latest &gt;|&nbsp;</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="footer">
            <h5>PeeblesLab.com<br>Created in honor of <a href="https://www.arlingtoncemetery.net/empeebles.htm">Admiral Edward M. Peebles</a><br>Copyright &copy; David Kilian and Andrew Stella 2008-2011. All Rights Reserved.</h5>
            <h5>
                <a href="/rss" style="text-decoration:none">
                    <img src="assets/rss.png" style="border-width:0px" alt="Peebles Lab RSS Feed">
                </a>
                <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/3.0/us/">
                    <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/3.0/us/88x31.png">
                </a>
                <a href="https://www.facebook.com/pages/Peebles-Lab/101723119882935" style="text-decoration:none">
                    <img src="assets/facebook.png" style="border-width:0px" alt="Peebles Lab Facebook Page">
                </a>
            </h5>
            <h5>Dave and Andrew hereby recognize Vince for being there</h5>
        </div>
    </body>
</html>
